---
http_interactions:
- request:
    method: get
    uri: https://www.theyworkforyou.com/api/getMSPs?key=<API_KEY>&version=1.0.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=iso-8859-1
      Last-Modified:
      - Wed, 25 May 2016 09:44:14 +0100
      X-Url:
      - "/api/getMSPs?key=<API_KEY>&version=1.0.0"
    body:
      encoding: UTF-8
      string: '[{"member_id":"80551","person_id":"25072","name":"George Adam","party":"Scottish
        National Party","constituency":"Paisley"},{"member_id":"80552","person_id":"25073","name":"Clare
        Adamson","party":"Scottish National Party","constituency":"Motherwell and
        Wishaw"},{"member_id":"80553","person_id":"13947","name":"Alasdair Allan","party":"Scottish
        National Party","constituency":"Na h-Eileanan an Iar"},{"member_id":"80554","person_id":"25491","name":"Tom
        Arthur","party":"Scottish National Party","constituency":"Renfrewshire South"},{"member_id":"80555","person_id":"13949","name":"[...]
