---
http_interactions:
- request:
    method: get
    uri: https://www.theyworkforyou.com/api/getMP?key=<API_KEY>&postcode=IP6%209PN&version=1.0.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=iso-8859-1
      Last-Modified:
      - Fri, 08 May 2015 06:57:04 +0100
      X-Url:
      - "/api/getMP?postcode=IP6+9PN&key=<API_KEY>&version=1.0.0"
    body:
      encoding: UTF-8
      string: '{"member_id":"41191","house":"1","constituency":"Central Suffolk and
        North Ipswich","party":"Conservative","entered_house":"2015-05-08","left_house":"9999-12-31","entered_reason":"general_election","left_reason":"still_in_office","person_id":"24756","lastupdate":"2015-05-08
        06:57:04","title":"","given_name":"Daniel","family_name":"Poulter","full_name":"Daniel
        Poulter","url":"/mp/24756/daniel_poulter/central_suffolk_and_north_ipswich","image":"/images/mpsL/24756.jpeg","image_height":118,"image_width":78,"office":[{"moffice_id":"uk.parliament.data/Member/3932/Committee/50","dept":"Energy
        and Climate Change Committee","position":"Member","from_date":"2015-07-08","to_date":"9999-12-31","person":"24756","source":""},{"moffice_id":"uk.parliament.data/Member/3932/Committee/136","dept":"Scottish
        Affairs Committee","position":"Member","from_date":"2015-07-06","to_date":"9999-12-31","person":"24756","source":""}]}'
  recorded_at: Tue, 26 Jul 2016 02:48:08 GMT
recorded_with: VCR 3.0.3
