{"http_interactions":[{"request":{"method":"get","uri":"http://www.theyworkforyou.com/api/getConstituencies?key=<API_KEY>&version=1.0.0","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["text/javascript; charset=iso-8859-1"], "X-Url":["/api/getConstituencies?key=<API_KEY>&version=1.0.0"]},"body":{"encoding":"ASCII-8BIT","string":"[{\"name\":\"Aberavon\"},{\"name\":\"Aberconwy\"},{\"name\":\"Aberdeen North\"},{\"name\":\"Aberdeen South\"},{\"name\":\"Airdrie and Shotts\"},{\"name\":\"Aldershot\"},{\"name\":\"Aldridge-Brownhills\"},{\"name\":\"Altrincham and Sale West\"},{\"name\":\"Alyn and Deeside\"},{\"name\":\"Amber Valley\"},{\"name\":\"Angus\"},{\"name\":\"Arfon\"},{\"name\":\"Argyll and Bute\"},{\"name\":\"Arundel and South Downs\"},{\"name\":\"Ashfield\"},{\"name\":\"Ashford\"},{\"name\":\"Ashton-under-Lyne\"},{\"name\":\"Ayl[...]
{"request":{"method":"get","uri":"http://www.theyworkforyou.com/api/getConstituency?key=<API_KEY>&postcode=IP6%209PN&version=1.0.0","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["text/javascript; charset=iso-8859-1"], "X-Url":["/api/getConstituency?postcode=IP6+9PN&key=<API_KEY>&version=1.0.0"]},"body":{"encoding":"UTF-8","string":"{\"bbc_constituency_id\":\"553\",\"guardian_election_results\":\"http://www.guardian.co.uk/politics/constituency/802/suffolk-central-and-ipswich-north\",\"guardian_id\":\"802\",\"guardian_name\":\"Suffolk Central and Ipswich North\",\"pa_id\":\"547\",\"name\":\"Central Suffolk and North Ipswich\"}"},"http_version":null},"recorded_at":"Wed, 13 Nov 2013 00:46:29 GMT"},{"request":{"method":"get","uri":"http://www.theyworkforyou.com/api/getGeometry?key=<API_KEY>&name=Central%20Suffolk%20and%20North%20Ipswich&version=1.0.0","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["text/javascript; charset=iso-8859-1"], "X-Url":["/api/getGeometry?name=Central+Suffolk+and+North+Ipswich&key=<API_KEY>&version=1.0.0"]},"body":{"encoding":"UTF-8","string":"{\"max_e\":636672.1,\"srid_en\":27700,\"area\":796226596.18,\"max_n\":283760.6,\"min_lat\":52.0407410207,\"max_lat\":52.4044029233,\"centre_n\":263028.158509,\"max_lon\":1.46434493435,\"centre_lon\":1.22112407587,\"min_n\":242895.4,\"parts\":1,\"centre_e\":620106.539681,\"min_e\":602204.5,\"min_lon\":0.951515301231,\"centre_lat\":52.2215670245,\"name\":\"Central Suffolk and North Ipswich\"}"},"http_version":null},"recorded_at":"Wed, 13 Nov 2013 00:46:30 GMT"},{"request":{"method":"get","uri":"http://www.theyworkforyou.com/api/convertURL?key=<API_KEY>&url=http://www.publications.parliament.uk/pa/cm200506/cmhansrd/cm061018/debtext/61018-0002.htm%2306101834000471&version=1.0.0","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["text/javascript; charset=iso-8859-1"], "X-Url":["/api/convertURL?url=http%3A%2F%2Fwww.publications.parliament.uk%2Fpa%2Fcm200506%2Fcmhansrd%2Fcm061018%2Fdebtext%2F61018-0002.htm%2306101834000471&key=<API_KEY>&version=1.0.0"]},"body":{"encoding":"UTF-8","string":"{\"gid\":\"uk.org.publicwhip/debate/2006-10-18b.863.3\",\"url\":\"http://www.theyworkforyou.com/debates/?id=2006-10-18b.863.3\"}"},"http_version":null},"recorded_at":"Wed, 13 Nov 2013 00:46:30 GMT"},{"request":{"method":"get","uri":"http://www.theyworkforyou.com/api/getMP?key=<API_KEY>&postcode=IP6%209PN&version=1.0.0","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Last-Modified":["Fri, 07 May 2010 02:51:26 +0100"], "Content-Type":["text/javascript; charset=iso-8859-1"], "X-Url":["/api/getMP?postcode=IP6+9PN&key=<API_KEY>&version=1.0.0"]},"body":{"encoding":"UTF-8","string":"{\"member_id\":\"40156\",\"house\":\"1\",\"first_name\":\"Daniel\",\"last_name\":\"Poulter\",\"constituency\":\"Central Suffolk and North Ipswich\",\"party\":\"Conservative\",\"entered_house\":\"2010-05-06\",\"left_house\":\"9999-12-31\",\"entered_reason\":\"general_election\",\"left_reason\":\"still_in_office\",\"person_id\":\"24756\",\"title\":\"\",\"lastupdate\":\"2010-05-07 02:51:26\",\"full_name\":\"Daniel Poulter\",\"url\":\"/mp/24756/daniel_poulter/central_suffolk_and_north_ipswich\",\"image\":\"/images/mpsL/24756.jpeg\",\"image_height\":118,\"image_width\":78}"},"http_version":null},"recorded_at":"Wed, 13 Nov 2013 00:46:30 GMT"},{"request":{"method":"get","uri":"http://www.theyworkforyou.com/api/getMPInfo?id=24756&key=<API_KEY>&version=1.0.0","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Last-Modified":["Tue, 12 Nov 2013 03:38:59 +0000"], "Content-Type":["text/javascript; charset=iso-8859-1"], "X-Url":["/api/getMPInfo?id=24756&key=<API_KEY>&version=1.0.0"]},"body":{"encoding":"UTF-8","string":"{\"comments_on_speeches\":\"2\",\"comments_on_speeches_quintile\":\"3\",\"comments_on_speeches_rank\":\"450\",\"comments_on_speeches_rank_joint\":\"48\",\"comments_on_speeches_rank_outof\":\"650\",\"debate_sectionsspoken_inlastyear\":\"32\",\"debate_sectionsspoken_inlastyear_quintile\":\"2\",\"debate_sectionsspoken_inlastyear_rank\":\"314\",\"debate_sectionsspoken_inlastyear_rank_joint\":\"8\",\"debate_sectionsspoken_inlastyear_rank_outof\":\"650\",\"maiden_speech\":\"uk.org.publicwhip/debate/2010-06-22c.151.6\",\"public_whip_dreammp1052_absent\":\"0\",\"public_whip_dreammp1052_both_voted\":\"2\",\"public_whip_dreammp1052_distance\":\"0\",\"public_whip_dreammp1053_absent\":\"0\",\"public_whip_dreammp1053_both_voted\":\"1\",\"public_whip_dreammp1053_distance\":\"0\",\"public_whip_dreammp1065_absent\":\"0\",\"public_whip_dreammp1065_both_voted\":\"4\",\"public_whip_dreammp1065_distance\":\"0.0833333\",\"public_whip_dreammp1074_absent\":\"1\",\"public_whip_dreammp1074_both_voted\":\"10\",\"public_whip_dreammp1074_distance\":\"0.0641026\",\"public_whip_dreammp1084_absent\":\"0\",\"public_whip_dreammp1084_both_voted\":\"1\",\"public_whip_dreammp1084_distance\":\"1\",\"public_whip_dreammp1109_absent\":\"0\",\"public_whip_dreammp1109_both_voted\":\"2\",\"public_whip_dreammp1109_distance\":\"0\",\"public_whip_dreammp1110_absent\":\"0\",\"public_whip_dreammp1110_both_voted\":\"10\",\"public_whip_dreammp1110_distance\":\"0\",\"public_whip_dreammp1124_absent\":\"0\",\"public_whip_dreammp1124_both_voted\":\"1\",\"public_whip_dreammp1124_distance\":\"0\",\"public_whip_dreammp1132_absent\":\"0\",\"public_whip_dreammp1132_both_voted\":\"1\",\"public_whip_dreammp1132_distance\":\"0\",\"public_whip_dreammp811_absent\":\"0\",\"public_whip_dreammp811_both_voted\":\"1\",\"public_whip_dreammp811_distance\":\"0\",\"public_whip_dreammp826_absent\":\"0\",\"public_whip_dreammp826_both_voted\":\"4\",\"public_whip_dreammp826_distance\":\"0\",\"public_whip_dreammp984_absent\":\"0\",\"public_whip_dreammp984_both_voted\":\"1\",\"public_whip_dreammp984_distance\":\"0\",\"reading_ease\":\"47.0414979003198\",\"reading_ease_quintile\":\"4\",\"reading_ease_rank\":\"534\",\"reading_ease_rank_outof\":\"645\",\"reading_year\":\"14.2795015913675\",\"reading_year_quintile\":\"0\",\"reading_year_rank\":\"81\",\"reading_year_rank_outof\":\"645\",\"register_member_interests_date\":\"2013-10-28\",\"register_member_interests_html\":\"<div class=\\\"regmemcategory\\\">2. Remunerated employment, office, profession etc</div>\\n<div class=\\\"regmemitem\\\">  Medical doctor</div>\\n\",\"select_committees\":\"0\",\"select_committees_chair\":\"0\",\"three_word_alliterations\":\"167\",\"three_word_alliterations_quintile\":\"2\",\"three_word_alliterations_rank\":\"363\",\"three_word_alliterations_rank_joint\":\"2\",\"three_word_alliterations_rank_outof\":\"650\",\"three_word_alliteration_content\":\":to take to:will work with:make my maiden:true that throughout:he has had:that the treatment:it is important:that the true:the time that:the time to:and about a:to trust them:it is impossible:think that there:should support such:to tailor their:has he had:is invest in:it is important:to talk to:profit per pig:it is important:onus on our:when we were:time to time:industry is in:be bad because:should show some:after an ageing:through talking therapies:on one of:bodies being bandied:it is importa[...]
{"request":{"method":"get","uri":"http://www.theyworkforyou.com/api/getMPs?key=<API_KEY>&version=1.0.0","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Last-Modified":["Mon, 08 Jul 2013 12:38:26 +0100"], "Content-Type":["text/javascript; charset=iso-8859-1"], "X-Url":["/api/getMPs?key=<API_KEY>&version=1.0.0"]},"body":{"encoding":"ASCII-8BIT","string":"[{\"member_id\":\"40323\",\"person_id\":\"24709\",\"name\":\"Bridget Philli[...]
{"request":{"method":"get","uri":"http://www.theyworkforyou.com/api/getMSPs?key=<API_KEY>&version=1.0.0","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Last-Modified":["Thu, 07 Nov 2013 11:34:31 +0000"], "Content-Type":["text/javascript; charset=iso-8859-1"], "X-Url":["/api/getMSPs?key=<API_KEY>&version=1.0.0"]},"body":{"encoding":"UTF-8","string":"[{\"member_id\":\"80410\",\"person_id\":\"14071\",\"name\":\"Alex Neil\",\"par[...]
