---
http_interactions:
- request:
    method: get
    uri: https://www.theyworkforyou.com/api/getConstituency?key=<API_KEY>&postcode=IP6%209PN&version=1.0.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=iso-8859-1
      X-Url:
      - "/api/getConstituency?postcode=IP6+9PN&key=<API_KEY>&version=1.0.0"
    body:
      encoding: UTF-8
      string: '{"bbc_constituency_id":"553","guardian_election_results":"http://www.guardian.co.uk/politics/constituency/802/suffolk-central-and-ipswich-north","guardian_id":"802","guardian_name":"Suffolk
        Central and Ipswich North","pa_id":"547","name":"Central Suffolk and North
        Ipswich"}'
  recorded_at: Tue, 26 Jul 2016 02:41:57 GMT
recorded_with: VCR 3.0.3
